
<div id="add_project_popup" title="Add Project" style=""; class="confirmation">
	<form data-remote="true" action="/dashboard/save_project" method="post" id="add_project_popup_form">
		<!-- <div class="confirmationmsg" id="setDefaultGroupConfirmationMessage">			
		</div> -->
		<div class="bottombtn">
		Title: <input type="text" name="project_name" id="project_name"><br>
		<br />
		<input type="button" value="Add Developer" name="" id="add_developer_btn" onclick="openDeveloperForm(this, 'create');">
		
		<div id="add_dev_block" class="add_dev_block" hidden></div>
		<br />
		<br />
		<input type="button" value="Add Todo" name="" id="add_todo_btn" onclick="openTodoForm(this);">
		<div id="add_todo_block" class="add_todo_block"></div>

		<br />
		<div class="bottombtn">
			<input type="submit" name="" value="Save" class="save_project_btn" id="add-project-save-btn">
			<input type="button" value="Cancel" class="cancel" name="" id="add_project_cancel_btn" onclick="closeCreateProjectPopup(this);">
		</div>

	</form>
</div>