<div id ="project_manager_dashboard_form">
	<div id = "logout-button">
		<%= form_tag( log_out_url, method: :delete ) %>
		<%= submit_tag "Sign out" %>
	</div>

	<div class="btnrow">                
	    <input type="button" class="create-project" name="" value="Create Project" id="create-project-btn">
	</div>
	
	<div id="add_project_form">
	</div>
	<div id ="add_todo_form">
	</div>

	
</div>
